
*, ::after, ::before {
	box-sizing: border-box;
}
button {cursor: pointer;}
h1 {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html, body {
	min-height: 100vh;
}
body {
	background: rgb(212,227,152);
	background: linear-gradient(124deg, rgba(212,227,152,1) 0%, rgba(94,156,45,1) 37%, rgba(30,139,2,1) 100%);
	font-family: 'Raleway', sans-serif;
	margin: 0;
}

img {
	max-width: 100%;
}




.contenedor {
	padding-left: .75rem;
	padding-right: .75rem;
	margin-left: auto;
	margin-right: auto;
	max-width: 1300px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0.75rem;
	margin-right: -.75rem;
	margin-left: -.75rem;
}

.row > * {
	flex-shrink: 0;
	max-width: 100%;
	width: 100%;
}


.col {
	flex: 1 0 0%;
}


ul {
	display: flex;
	margin: 0;
	padding:0;
}
li {
	border: 1px solid transparent;
	border-radius: 5px;
	cursor: pointer;
	color: white;
	display: block;
	flex: 1 0 0%;
	margin-left: 0.2em;
	margin-right: 0.2em;
	overflow: hidden;
	position: relative;
	user-select: none;
}
li.active {
	border: 1px solid yellow;
	color: yellow;
}
li::after {
	background: rgba(0,0,0,0.6);
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;;
	z-index: -1;
}
li h2, li p {
	bottom: 0;
	left: 10%;
	margin: 0;
	position: absolute;
	width: 80%;
}
li h2 {
	font-size: 4.5vw;
	font-weight: 700;
	bottom: 30%;
}
li img {
	height: 100%;
	left: 0;
	max-width: 100%;
	object-fit: cover;
	object-position: center;
	position: relative;
	top: 0;
	width: 100%;
	z-index: -2;
}
li p {
	bottom: 10%;
	font-size: 3vw;
}
li span {
	background: radial-gradient(98.28% 98.28% at 50% 25.86%, #D4E398 0%, #5E9C2D 43.75%, #1E8B02 100%);
	border-radius: 50%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	display: block;
	height: 50px;
	left: 5%;
	opacity: 0;
	position: absolute;
	top: -50%;
	transition: all 600ms;
	visibility: hidden;
	width: 50px;
}

li span:after {
	background: white;
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
	clip-path: polygon(100% 50%, 0 0, 0 100%);
	content: '';
	display: block;
	height: 50%;
	left: 50%;
	position: relative;
	top: 50%;
	transform:translate(-40%, -50%);
	width: 40%;
}

.vw > div:first-child {
	background: linear-gradient(180deg, #F3F3F3 0%, #C9C9C9 100%);
	border: 1px solid #1A650E;
	box-shadow: inset 5px 7px 12px rgba(0, 0, 0, 0.47);
	border-radius: 5px;
	height: 240px;
	margin: 1rem 0.5rem;
	min-width: calc(100% - 1rem);
	overflow: hidden;
	position: relative;
}


.mx-1 {
	margin-left: 0.15rem;
	margin-right: 0.15rem;
}



.vw video {
	height: 100%;
	left: 50%;
	object-fit: cover;
	object-position: center;
	position: relative;
	transition: width 300ms ease-in-out;
	top: 50%;
	transform-origin: bottom;
	transform: translate(-50%, -50%);
	width: 100%;
}


.controlesw span.break {
	flex-basis: 100%;
	height: 0;
}

.progressw progress{
	cursor: pointer;
	width: 80%
}
.progressw div {
	color: white;
	font-size: 0.6rem;
	text-align: right;;
	width: 20%;
}


.controlesw [class*="col"]{
	align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
	min-height: 50px;
}

.col-controles {
	flex-grow: 2;
	justify-content: start !important;
}
.col-controles button:not(:last-child) {
	margin-right: 6px;
}
.col-volumen {
	flex-grow: 3;
}
.col-volumen input[type=range] {
	width: calc(100% - 50px);
}
.col-subtitulos {
	flex-grow: 1;
	justify-content: center !important;
}
.col-velocidad:before {
	background: #36814b;
	box-shadow: inset -1px -1px 1px rgba(255, 255, 255, 0.35), inset 1px 1px 1px rgba(0, 0, 0, 0.25);
	content: '';
	clip-path: polygon(0 0, 1% 100%, 40% 70%, 40% 100%, 100% 50%, 40% 0, 40% 30%);
	display: block;
	height: 20px;
	margin: 5px 10px;
	width: 30px;
}

.col-imagen {
	justify-content: center !important;
}
.col-tamano:before {
	background: #2c7140;
	content: '';
	clip-path: polygon(0 65%, 1% 100%, 35% 100%, 24% 89%, 50% 50%, 76% 88%, 65% 100%, 100% 100%, 100% 65%, 89% 75%, 50% 50%, 88% 25%, 100% 35%, 100% 2%, 68% 0%, 78% 11%, 50% 50%, 24% 12%, 35% 0, 0 0, 0 35%, 11% 25%, 50% 50%, 11% 76%);
	display: block;
	height: 20px;
	margin: 5px 10px;
	width: 20px;
}

.datos  {
	color: #1f7838;
}
.datos h1,
.datos h2 {
	user-select: none;
	text-align: center;
}
		
.datos h1 {
	background-color: #025a1b;
	color: transparent;
	text-shadow:  1px 1px 1px rgba(255,255,255,0.5);
	-webkit-background-clip: text;
	   -moz-background-clip: text;
			background-clip: text;
	font-size: 5vw;
	text-transform: uppercase;
	
}
.datos h2 {
	font-size: 4vw;
}



.wimage {
	align-items: center;
	background: rgba(31,120,56,0.9);
	border-radius: 5px 0 0 5px;
	box-shadow: -10px 0 10px rgba(0,0,0,0.6);
	bottom: 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	left: 0;
	margin: 1rem;
	min-height: 40vh;
	opacity: 0;
	padding: 1rem 3rem 1rem 1rem;
	position: fixed;
	transition: all 600ms;
	transform: translate(100%,0);
	width: calc(110% - 2rem);
	visibility: hidden;
	z-index: 1;
}

.wimage.show {
	opacity: 1;
	transform: translate(0,0);
	visibility: visible;
}



.referencias{
	color: white;
	font-size: 0.8rem;
}
.referencias h3 {
	cursor: pointer;
	margin: 0.5em 0;
}
.referencias h3::after {
	content: '\21F2';
	margin-left: 0.4em;
}
.referencias h4 {
	margin-bottom: 0;
}
.referencias p {
	margin: 0;
}
.referencias dl {
	font-size: 0.9rem;
}
.referencias dl dt{
	font-weight: bold;
}
.referencias dl dd {
	margin-inline-start: 10px;
}
.referencias dl dd:not(:last-child) {
	margin-bottom: 0.5em;
}
.referencias a {
	color : white;
	display: inline-block;
	text-decoration: underline;
}
.referencias a::after {
	content: '\29C9';
	color: white;
	margin-left: 0.5em;
}
.referencias .row {
	flex-direction: column;
}
.referencias .row.hidden {
	display: none;
}






::cue {
	background: none;
	font-family: sans-serif;
	font-size: 3vmin;
	color: rgba(244,244,100,1);
	text-shadow: 0 0 .2em rgba(0,0,0,.5);
}


progress{
	appearance: none;
	-webkit-appearance: none;
	overflow: hidden;
	position: relative;
}
progress::-webkit-progress-bar {
	background: #67AA3E;
	box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25), inset -1px -1px 2px rgba(255, 255, 255, 0.19);
	border-radius: 25px;
	height: 9px;
	width: 100%;
 }

progress::-webkit-progress-value {
	background: linear-gradient(90deg, #EFAD4B 0%, #CF6707 98.82%);
	border-radius: 25px;
	position: relative;
}




input[type=range] {
	appearance: none;
	-webkit-appearance: none;
	background-color: transparent;
	border-radius: 25px;
	margin: 0;
	max-width: 100%;
	overflow: hidden;
}
input[type=range]:focus {
	outline: none;
}


input[type=range]::-webkit-slider-runnable-track {
	background: #67AA3E;
	box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25), inset -1px -1px 2px rgba(255, 255, 255, 0.19);
	border-radius: 25px;
	height: 10px;
	width: 100%;
}
input[type=range]::-webkit-slider-thumb {
	appearance: none;
	-webkit-appearance: none;
	background: radial-gradient(66% 66% at 40% 34%, #D4E398 0%, #1A650E 84%);
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.75);
	border-radius: 50%;
	cursor: pointer;
	height: 10px;
	width: 10px;
	box-shadow:  -80px 0 0 80px rgba(239,173,75,0.9);
}
/*
input[type=range]:focus::-webkit-slider-runnable-track {
	background: linear-gradient(90deg, #EFAD4B 0%, #CF6707 98.82%);
	border-radius: 25px;
}
*/



input[type=range]::-moz-range-track {
	background: #67AA3E;
	box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25), inset -1px -1px 2px rgba(255, 255, 255, 0.19);
	border-radius: 25px;
	height: 9px;
	width: 100%;
}
input[type=range]::-moz-range-thumb {
	appearance: none;
	-webkit-appearance: none;
	background: radial-gradient(66% 66% at 40% 34%, #D4E398 0%, #1A650E 84%);
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.75);
	border-radius: 50%;
	cursor: pointer;
	height: 10px;
	width: 10px;
	box-shadow:  -1800px 0 0 1800px rgba(239,173,75,0.9);
}



input[type=range]::-ms-track {
	appearance: none;
	background-color: transparent;
	margin: 0;
	max-width: 100%;
}
input[type=range]::-ms-fill-lower {
	background: #67AA3E;
	box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25), inset -1px -1px 2px rgba(255, 255, 255, 0.19);
	border-radius: 25px;
	height: 9px;
	width: 100%;
}
input[type=range]::-ms-fill-upper {
	background: linear-gradient(90deg, #EFAD4B 0%, #CF6707 98.82%);
	border-radius: 25px;
}
input[type=range]::-ms-thumb {
	appearance: none;
	-webkit-appearance: none;
	background: radial-gradient(66% 66% at 40% 34%, #D4E398 0%, #1A650E 84%);
	box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.75);
	border-radius: 50%;
	cursor: pointer;
	height: 26px;
	margin-top: -8px;
	width: 26px;
}
input[type=range]:focus::-ms-fill-lower {
	background: linear-gradient(90deg, #EFAD4B 0%, #CF6707 98.82%);
	border-radius: 25px;
}
input[type=range]:focus::-ms-fill-upper {
	background: linear-gradient(90deg, #EFAD4B 0%, #CF6707 98.82%);
	border-radius: 25px;
}


.button {
	background: #67AA3E;
	box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.41), inset -1px -2px 1px rgba(255, 255, 255, 0.19);
	border-radius: 5px;
	border: 0 none;
	display: inline-block;
	height: 0;
	text-decoration: none;
	padding-top: 30px;
	width: 35px;
}
.button:hover,
.button:focus {
	border: 0 none;
	outline: none;
}
.button:active,
.button.activated {
	background: linear-gradient(180deg, #EFAC4A 0%, #D26D0C 100%);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	color: white !important;
}

.button.text {
	color: #055a1d;
	font-size: 0.9rem;
	font-weight: bold;
	height: auto;
	padding: 0.2em 1.3em 0.1em;
	width: auto;
}


.button.icon {
	overflow: hidden;
	position: relative;
}
.button.icon:after {
	background: #37884e;
	/*box-shadow: inset 2px 3px 4px rgba(0, 0, 0, 0.25);*/
	content: '';
	display: block;
	left: 50%;
	mix-blend-mode: normal;
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
}

button.button:active:after,
button.button.activated:after {
	background: #FFFFFF;
	box-shadow: none;
	color: white !important;
	mix-blend-mode: normal;
}

.button.icon.i-play:after {
	clip-path: polygon(100% 50%, 0 0, 0 100%);
	height: 18px;
	left: calc(50% + 2px);
	width: 18px;
}


.button.icon.i-prev:after {
	clip-path: polygon(40% 0, 100% 50%, 40% 100%, 40% 52%, 30% 50%, 30% 100%, 10% 100%, 10% 0, 30% 0, 30% 50%, 40% 52%);
	height: 18px;
	left: 50%;
	transform: rotate(180deg);
	transform-origin: 25% 25%;
	width: 18px;
}
.button.icon.i-next:after {
	clip-path: polygon(40% 0, 100% 50%, 40% 100%, 40% 52%, 30% 50%, 30% 100%, 10% 100%, 10% 0, 30% 0, 30% 50%, 40% 52%);
	height: 18px;
	left: 50%;
	width: 18px;
}

.button.icon.i-sound:after {
	/*clip-path: polygon(0 33%, 0 71%, 15% 71%, 40% 100%, 40% 47%, 60% 47%, 60% 72%, 73% 81%, 73% 46%, 87% 46%, 87% 90%, 100% 100%, 100% 0, 87% 9%, 87% 46%, 73% 45%, 72% 17%, 60% 25%, 60% 47%, 40% 46%, 41% 0, 15% 32%);*/
	clip-path: polygon(0 30%, 0 70%, 30% 70%, 60% 100%, 60% 0, 30% 30%);
	height: 18px;
	left: calc(50% + 3px);
	width: 18px;
}

.button.icon.i-closecaption:after {
	background-color: transparent;
	content: 'CC';
	color: #48985E;
	font-size: 16px;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	transform: translate(-45%, -45%);
}

.button.icon.i-image:before {
	background: #67AA3E;
	border-radius: 50%;
	content: '';
	display: block;
	height: 5px;
	left:50%;
	position: absolute;
	top: 50%;
	transform: translate(-2px,-2px);
	width: 5px;
	z-index: 1;
}
.button.icon.i-image:active:before,
.button.icon.i-image.activated:before {
	background: linear-gradient(180deg, #EFAC4A 0%, #D26D0C 100%);;
}
.button.icon.i-image:after {
	clip-path: polygon(25% 18%, 25% 30%, 0 30%, 0 86%, 100% 86%, 100% 30%, 75% 30%, 75% 18%);
	height: 18px;
	left: calc(50% + 1px);
	width: 18px;
}

.button.icon.i-cerrar:after {
	clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
	height: 18px;
	width: 18px;
}
.button.icon.i-descargar:after {
	clip-path: polygon(100% 75%, 50% 100%, 0 75%, 0 0, 50% 25%, 100% 0);
	height: 18px;
	width: 18px;
}



#mensajes {
	color: yellow;
	font-size: 0.9rem;
	padding: 0.3em 1em;
	text-overflow: ellipsis;
	transition: all 500ms;
	overflow: hidden;
	opacity: 0;
	visibility: hidden;
	white-space: nowrap;
}
#mensajes.show {
	opacity: 1;
	visibility: visible;
}


@media (min-width: 960px) {
	.datos h1, .datos h2 {
		text-align: left;
	}
	.datos h1 {
		font-size: 2rem;
		margin-bottom: 0.8rem;
	}
	.datos h2 {
		font-size: 1.5rem;
		margin-top: 0;
	}

	.vw {
		justify-content: space-between;
	}

	.vw > div:first-child {
		flex: 0 0 auto;
		height: auto;
		margin-top: 0;
		max-height: 70vh;
		min-width: auto;
		width: 75%;
	}
	.vw > div:last-child {
		flex: 0 0 auto;
		width: 22%;
	}

	ul {
		flex-direction: column;
		height: 100%;
		justify-content: space-between;
		max-height: 70vh;
	}
	li {
		max-height: 30%;
	}
	li h2 {
		bottom: 25%;
		font-size: 1.7rem;
	}
	li p {
		color: #C5C1C1;
		font-size: 1.2rem;
	}
	li span {
		filter: grayscale(1);
		opacity: 1;
		top: 1.2rem;
		visibility: visible;
	}
	li:hover span,
	li.active span {
		filter: grayscale(0);
	}

	.button {
		padding-top: 42px;
		width: 46px;
	}


	.progressw progress {
		width: calc(100% - 90px);
	}
	.progressw div {
		width: 90px;
	}

	.col-controles button:not(:last-child) {
		margin-right: 8px;
	}
	.col-controles button:first-child {
		margin-right: 18px; 
	}

	.col-controles {
		order: 1;
		flex-grow: 4;
	}
	.col-volumen {
		order: 2;
		flex-grow: 4;
		margin-right: 2rem;
	}
	.col-volumen  button{
		margin-right: 1rem;
	}

	.col-velocidad {
		order: 3;
		flex-grow: 3;
	}

	.col-tamano {
		order: 4;
		flex-grow: 3;
		margin-right: 2rem;
	}
	.controlesw [class*="col"] {
		justify-content: center;
	}

	.col-imagen {
		justify-content: end !important;
		flex-grow: 1;
		order: 5;
	}

	.col-subtitulos {
		flex-grow: 1;
		order: 6;
	}

	.controlesw span.break {
		flex-basis: auto;
	}

	input[type=range]::-webkit-slider-thumb {
		box-shadow: -1800px 0 0 1800px rgba(239,173,75,0.9);;
	}

	#mensajes {
		margin-left: auto;
		margin-right: auto;
		max-width: 1300px;
	}
	.referencias {
		margin-top: 3rem;
	}
	
	.referencias .row {
		flex-direction: row;
	}

	.referencias .row .col {
		flex: 0 0 auto;
		width: 50%;
	}

	.wimage {
		left: auto;
		margin-right: 0;
		right: 0;
		width: 30%;
	}
}